SECRET_KEY=your-secret-key

DEBUG=True

DATABASE_ENGINE=mysql
DATABASE_NAME=what_i_watched_db
DATABASE_USERNAME=user
DATABASE_PASSWORD=<type user password>

# If the database server is not running on docker, use the IP of the host
# (not 127.0.0.1 or localhost), or host.docker.internal,
# which resolves to the host IP on Windows and Mac
DATABASE_HOST=localhost
DATABASE_PORT=3306
